/* CSS reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Custom CSS */
/* body {
  display: flex;
} */

#map {
  height: 100vh;
}

#info {
  background-color:#ffffffaa;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 160px;
  padding: 8px;
  text-align: right;
}